
@{
    ViewBag.Title = "Graduates";
}

@model List<string>

<h2>Graduates Application Documents</h2>
<div class="col-xs-12" style="height:100px;"></div>

<table class="table">
    <tr>
        <th>File Name</th>
        <th>Link</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
        <tr>
            <td>
                @Model[i].ToString()
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { ImageName = @Model[i].ToString() })
            </td>
        </tr>
    }
</table>

<div>
    <a href="javascript: history.go(-1)">Go Back</a>
</div>