
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modus DNA</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="~/css/Pe-icon-7-stroke.css">
    <link rel="icon" href="~/images/FinalLogo.png" type="image/x-icon" />
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- PrettyPhoto -->
    <link href="~/css/prettyPhoto.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Style -->
    <link href="~/css/style.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">
       
</head>
<body>
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">

                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US<span class="caret"></span></a>
                                <ul class="dropdown-menu" id="dp">
                                    <li><a href="#ABOUT">COMPANY PROFILE</a></li>
                                    <li><a href="#Academy">ACADEMY</a></li>
                                    <li><a href="#LEADERSHIP">LEADERSHIP</a></li>
                                </ul>
                            </li>
                            <li><a href="#SERVICES">SERVICES</a></li>
                            <li><a href="#CLIENTS">CLIENTS</a> </li>
                            <li><a href="#VACANCIES">VACANCIES </a> </li>
                            <li><a href="#ourteam">SUPPORT TEAM</a></li>
                            <li><a href="#CONTACT">CONTACT </a> </li>
                            <li>@Html.ActionLink("JOIN US", "JoinUs", "Home")</li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                            <!-- LOGO -->
                            <img src="~/images/FinalLogo.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>MODUS DNA</h1>

                            <div class="download-btn">
                                <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="#ABOUT">Take a tour</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>COMPANY OVERVIEW</h2>
                        <p>Modus Data and Architecture also known as Modus DNA is an empowerment company founded in 2013 aimed at assisting companies within the ICT sector to bridge the gap between the huge scarcity of skills within the sector and the young minds that come into the sector with no experience.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <!-- PHONE -->
                            <img src="~/images/empowernment-4DhABV-clipart .png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                            <h2>Why we are best <br> for you</h2>
                            <p>We are 51% black female owned entity making us a Level 2 b-bbee status and an empowering supplier.</p>
                        </div>
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-timer"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>OUR TARGETS</h3>
                                <p>We spend a lot of time researching about the skills shortage within the ICT Sector and have seen an imbalance within the sector as far as education and practical skills.Our target audience are the youth who would like to take a career path within the sector..</p>
                            </div>
                            <!-- END SINGLE DESC -->
                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>WHAT WE OFFER</h3>
                                <p>We are a training company we empower young individuals with business, professional skills as well as practical skills in relation to the qualification they have covered so as to better prepare them for what’s to come in the workplace..</p>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeftBig">
                        <!-- VIDEO LEFT TITLE -->
                        <div class="video_title">
                            <h2>EMPOWERING YOUNG PEOPLE</h2>
                            <h5>
                           Start your tertiary studies and gain real world working experience with a learnership programme aimed at fast tracking your road to become an IT or business professional.
                            </h5>
                            <ul id="list">
                                <li><em></em> Matric Certificate with Mathematics</li>
                                <li><em></em> No tertiary qualification</li>
                                <li><em></em> Strong academic results</li>
                                <li><em></em> A passion for IT/Finance</li>
                                <li><em></em> Committed to working hard and continuous learning</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6 wow fadeInRightBig">
                        <!-- VIDEO -->
                        <div class="video">
                            <iframe title="YouTube video player" class="youtube-player" type="text/html"
                                    width="640" height="390" src="https://www.youtube.com/embed/GPgp5JgpL4M"
                                    frameborder="0" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--////////////////////////////////////////////////////////////////////////////////////////////////////-->
   
    <!--Services-->
    <section class="header parallax" id="Academy">
        <div class="bounce1">
            <div class="leadership_caption">

                <h2>ACADEMY</h2>
               
              
                <h3>Accredited Courses</h3>

                  <div class="logo text-center">
                    <img src="~/images/MCSETA.png" />
                </div>
               

            </div>
            <div class="container text-center">
                <div class="flip3D">

                    <div class="back"><br /><br /><br />ID:78965<br />QUALIFICATION TITLE:<br />Further Education and Training: Information Technology: Systems Development<br /><a href="http://qspe.saqa.org.za/showQualification.php?id=78965 " target="_blank">Read More</a></div>
                    <div class="front"><br />NQF LEVEL<br />Level 4<br />CREDITS<br />165<br /><br />Further Education and Training:Systems Development</div>


                </div>

                <div class="flip3D">


                    <div class="back"><br /><br /><br />ID:48872<br />QUALIFICATION TITLE:<br />National Certificate: Information Technology(Systems Development)<br /><br /><a href="http://qspe.saqa.org.za/showQualification.php?id=48872" target="_blank">Read More</a></div>
                    <div class="front"><br />NQF LEVEL<br />Level 5<br /><br />CREDITS<br />131<br /> National Certificate:Systems Development</div>


                </div>


                <div class="flip3D">

                    <div class="back"><br /><br /><br />ID:83026<br />QUALIFICATION TITLE:<br />Information and Communications Technology (ICT) Software Testing<br /><br /><a href="http://qspe.saqa.org.za/showQualification.php?id=83026" target="_blank">Read More</a></div>
                    <div class="front"><br /><br />NQF LEVEL<br />Level 5<br /><br />CREDITS<br />138<br /> Software Testing</div>


                </div>
                <div class="flip3D">

                    <div class="back"><br /><br /><br />ID:63909<br />QUALIFICATION TITLE:<br />National Certificate: Business Analysis<br /><br /><a href="http://qspe.saqa.org.za/showQualification.php?id=63909" target="_blank">Read More</a></div>
                    <div class="front"><br /><br />NQF LEVEL<br />Level 6<br /><br />CREDITS<br />149<br />Business Analysis</div>


                </div>

            </div>
        </div>
    </section>
   
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <section id="LEADERSHIP" class="header parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="leadership_caption">
                    <h2>LEADERSHIP</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="~/images/prudence-mabitsela.jpg" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>PRUDENCE MABITSELA</h2>
                                                    <h4><span></span></h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="~/images/prudence-mabitsela.jpg" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>PRUDENCE MABITSELA</h2>
                                                    <h4><span></span></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="SERVICES" class="SERVICES page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- SERVICES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>SERVICES</h2>
                        <p>After doing much research we have seen that we can be the driving tool to bridge that gap by moulding and grooming our own talent within the identified scarce skills in our country.</p>
                    </div>
                    <!-- END SERVICES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="fa fa-registered"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Bbbee Consulting<span>/</span></h3>

                        </div>

                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="fa fa-certificate"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Project management <span>/</span></h3>

                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Learnership Opportunities</h3>

                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="~/images/africa.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="fa fa-puzzle-piece"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>SKILLS DEVELOPMENT</h3>

                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="fa fa-suitcase"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Employment equity services</h3>

                        </div>
                        <!-- END SINGLE FEATURE -->
                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="fa fa-money"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Funding Opportunities</h3>

                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
   

    <!--Starting Section-->

    <section class="apps_screen header parallax" id="CLIENTS">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                    <!--  CLIENTS-->
                    <div class="section_title">
                        <h2>CLIENTS</h2>
                        <p>Our clients include</p>
                    </div>
                    <!-- END CLIENTS -->
                </div>
            </div>
        </div>

        <div class="screen_slider">
            <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
                <div id="owl-demo" class="owl-carousel">

                    <!-- APPS SCREEN IMAGES -->
                    <div class="item">
                       <img src="~/images/DVTlogo.png" width="60" height="60"  rel="prettyPhoto[pp_gal]"/></a>
                    </div>
                    <div class="item">
                    <a>  <img src="~/images/CloudSmiths-Logo-180.png" width="60" height="60" rel="prettyPhoto[pp_gal]"/></a>
                    </div>
                    <div class="item">
                       
                        <a>  <img src="~/images/Indigos.png" width="60" height="70" rel="prettyPhoto[pp_gal]"/></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
  

    <section class="header VACANCIES page" id="VACANCIES">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- VACANCIES NOW SECTION TITLE -->
                    <div class="section_title">
                        <h2>VACANCIES</h2>
                    </div>
                  
                        <div class="tabs apps_screen">
                            @*<ul class="tab-links">
                                <li class="active"><a href="#tab1">LEARNERSHIP</a></li>
                                <li><a href="#tab2">INTERNSHIP</a></li>
                                <li><a href="#tab3">GRADUATES</a></li>
                            </ul>*@

                            <div class="tab-content">
                                <div id="tab1" class="tab active">
                                    <div class="video_area">

                                        <div class="row">
                                            <div class="col-md-8 wow fadeInLeftBig">
                                                <!-- VIDEO LEFT TITLE -->
                                                <div class="vacancy_title">
                                                    <h2>LEARNERSHIP PROGRAMME</h2>
                                                    <h5>
                                                        <p>Start your tertiary studies and gain real world working experience with a learnership programme aimed at fast tracking your road to become an IT or business professional.</p>
                                                    </h5>
                                                    <ul id="listo">
                                                        <li>Matric Certificate with Mathematics</li>
                                                    
                                                        <li> No tertiary qualification</li>
                                                     
                                                        <li> Strong academic results<br/></li>
                                                   
                                                        <li> A passion for IT/Finance</li>
                                                    
                                                        <li>  Committed to working hard and continuous learning</li>
                                                    
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="col-md-4 wow fadeInRightBig">
                                                <!-- VIDEO -->
                                                <div id="imgs">
                                                    <img src="~/images/learnership.jpg" width="300" />
                                                </div>
                                            </div>
                                        </div>

                                        <div id="box" >
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div></div>
                                                    <p id="para">Modus’s Learnership programme is a work based learning programme that leads to an NQF registered qualification. Our programme is directly related to an occupation or field of work. Modus currently has two types of Learnership programmes which are IT Systems Development and Finance Bookkeeping.</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <p id="para">Because the aim for the Learnership programme is to have learners employable at the end, we have two parts to the programme, you go through the first year and acquire your NQF level 5. Thereafter the following 12 months the same group move on to acquiring an NQF level 6 (Diploma).</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="para">Our Learnership Programmes are registered with the MICT SETA. Learners have the privilege of being mentored and coached by extremely qualified employees during their workplace experience. The training providers we use are industry leaders in the field of study.</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <p id="para">We take learners through a journey within the period that they are in the workplace. Here you get to incorporate what they learnt at campus and practice it in the workplace with the guidance of the DVT mentors..</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                @*<div id="tab2" class="tab">
                                    <div class="video_area">

                                        <div class="row">
                                            <div class="col-md-8 wow fadeInLeftBig">
                                                <!-- VIDEO LEFT TITLE -->
                                                <div class="vacancy_title2">
                                                   
                                                    <h2>INTERNSHIP PROGRAMME</h2>
                                                    <h5>
                                                        <p>Become a Software Quality Assurance professional and get your IT career off to a great start with Modus’s renowned SQA Internship 								                             Programme.</p>
                                                    </h5>
                                                    <ul>
                                                        <li> 65% average on an IT Diploma or IT Degree preferably within software	 development</li>
                                                  
                                                        <li> A passion for IT</li>
                                                      
                                                        <li> A passion for software development</li>
                                                    
                                                        <li > Committed to working hard and continuous learning</li>
                                                      
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="col-md-4 wow fadeInRightBig">
                                                <!-- VIDEO -->
                                                <div id="imgs">
                                                    <img src="~/images/internship.jpg" width="300" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="height:50px;"></div>
                                        <div id="box">
                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <p id="para">The Software Quality Assurance (SQA) Internship Programme is Modus’s one year internship for aspiring SQA professionals, which develops young IT graduates who are passionate about and show great potential in software quality assurance.</p>
                                                </div>

                                                <div class="col-lg-6">
                                                    <p id="para">
                                                        Some of the core skills and training covered include:
                                                        ISTQB training and exams
                                                        IKM Assessments for Software Testing
                                                        Software testing tools like TestLink, Quality Centre
                                                        Automation tools like HP UFT and DVT UTAH (Unified Test Automation)
                                                        Project Management tools like Jira, OnTime and Trello
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="para">Our Learnership Programmes are registered with the MICT SETA. Learners have the privilege of being mentored and coached by extremely qualified employees during their workplace experience. The training providers we use are industry leaders in the field of study.</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <p id="para">We take learners through a journey within the period that they are in the workplace. Here you get to incorporate what they learnt at campus and practice it in the workplace with the guidance of the DVT mentors..</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="tab3" class="tab">
                                    <div class="video_area">
                                        <div class="row">
                                            <div class="col-md-8 wow fadeInLeftBig">
                                                <!-- VIDEO LEFT TITLE -->


                                                <div class="vacancy_title3">
                                                    <h2>DEVELOPER GRADUATE PROGRAMME</h2>
                                                    <h5>
                                                        <p>Within Modus, we provide the graduate with extensive internal and external coaching and training on both a technical and a soft skills level, preparing them for the corporate world.
                                                        When you join the graduate development team, you will become part of a 12-month programme with milestones and certifications over this period. This will allow you maximum exposure to various technologies to assist you to make an informed career choice.
                                                        When you complete our 12-month grad programme, you will have established yourself as one of the top software developers in the IT industry and you will join DVT's software solutions team as a junior developer
                                                        You will then gain experience with mobile development in iOS, Android, Windows Phone and HTML5 as well as development on the latest .Net and Java technology platforms. This offers graduates exciting project opportunities and a chance to work in a mainstream development environment.</p>
                                                    </h5>
                                                    <ul style="width:auto">
                                                        <li> A recently completed B.Sc. Computer Science/Engineering in IT or similar degree (or in the process of completing it)</li>
                                                     
                                                        <li> Solid academic results</li>
                                                      
                                                        <li> A passion for software development</li>
                                                  
                                                        <li> Commitment to working hard and to continuous learning</li>
                                                  
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="col-md-4 wow fadeInRightBig">
                                                <!-- VIDEO -->
                                                <div id="imgs">
                                                    <img src="~/images/Graduates.png" width="300" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="height:50px;"></div>
                                        <div id="box">
                                            <div class="row">
                                                <div class="col-lg-6">

                                                    <p id="para">Within Modus, we provide the graduate with extensive internal and external coaching and training on both a technical and a soft skills level, preparing them for the corporate world.</p>
                                                </div>

                                                <div class="col-lg-6">
                                                    <p id="para">
                                                        <strong>Best fit for technology</strong>. DVT's core development services are based on Mobile development, Microsoft and Java technologies.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="para">When you complete our 12-month grad programme, you will have established yourself as one of the top software developers in the IT industry and you will join DVT's software solutions team as a junior developer.</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <p id="para">Our track record in software development. DVT has completed in excess of 300 professional assignments.</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p id="para">You will then gain experience with <strong>mobile development in iOS, Android, Windows Phone and HTML5</strong> as well as development on the latest <strong>.Net and Java technology platforms</strong>. This offers graduates exciting project opportunities and a chance to work in a mainstream development environment.</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <p id="para">
                                                        <strong>Highly experienced resources</strong>. DVT has some of the best staff in the industry, with a wealth of experience in application and database development. Many of our employees are certified in their respective disciplines.
                                                        .
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>*@
                            </div>
                        </div>
                  
                </div>
                <!--END VACANCIES TITLE -->
            </div>

        </div>
    </section>
    <section id="ourteam" class="header parallax">
        <div class="section_overlay">
            <div class="container">
                <div class="leadership_caption">
                    <h2>SUPPORT TEAM</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 wow bounceInDown">
                        <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="~/images/moja.jpg" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>MOJALEFA TSAO</h2>
                                                    <h4><span></span></h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <!-- IMAGE -->
                                                <img src="~/images/Mthunzi.jpg" alt="">
                                                <div class="testimonial_caption">
                                                    <!-- DESCRIPTION -->
                                                    <h2>MTHUNZI HUNA</h2>
                                                    <h4><span></span></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Get in touch</h2>

                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/modusdna/?fref=ts" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/modus_dna" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
                                </li>
                               
                                <li>
                                    <a href="https://youtu.be/UqiT4r_u2U0" target="_blank"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>GET IN TOUCH</h2>
                            <div class="col-xs-12" style="height:50px;"></div>
                            <div class="one_fourth animated fadeInUp " data-anim-delay="300" data-anim-type="fadeInUp">
                                <ul>
                                    <li> <i class="glyphicon glyphicon-phone-alt"></i> Gauteng :+27 11 759 5930</li>
                                    <li> <i class="glyphicon glyphicon-envelope"></i> PMabitsela@jhb.dvt.co.za </li>
                                </ul>

                            </div>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                    <div class="col-md-3 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>GROUP COMPANIES</h2>
                            <div class="col-xs-12" style="height:40px;"></div>
                            <div class="one_fourth animated fadeInUp " data-anim-delay="300" data-anim-type="fadeInUp">
                                <ul>
                                    <li> <i class="glyphicon glyphicon-globe"></i> The Modus Academy</li>
                                    <li> <i class="glyphicon glyphicon-globe"></i> Modus</li>

                                </ul>

                            </div>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                    <div class="col-md-3 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <!-- End Subscribe Section Title -->
                    </div>

                </div>
            </div>


        </div>
    </section>
    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                        <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 2016 <a href="">MODUS</a> <span>By </span><a href="http://localhost:52457/Home/admin" target="_blank">MODUS DNA</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.fitvids.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.langs.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>