.panel{ 
 background-image: -ms-radial-gradient(left top, circle  farthest-corner, #759A50 0%,#613316  49%,#240724 99%) !important;
 background-image: -moz-radial-gradient(left top, circle  farthest-corner, #759A50 0%,#c2855f 49%,#240724 99% ) !important;
 background-image: -o-radial-gradient(left top, circle  farthest-corner, #759A50 0%,#c2855f 49%,#240724 99%) !important;
 background-image: -webkit-radial-gradient(left top, circle  farthest-corner, #759A50 0%,#c2855f 49%,#240724 99%);
 background-image: radial-gradient( circle  farthest-corner at left top, #759A50 0%,#c2855f 49%,#240724 99%); 
}
.col-lg-4  {
 transition:All 1s ease;
 -webkit-transition: All 1s ease;
 -moz-transition: All 1s ease;
 -o-transition: All 1s ease;
 transform: rotate(0deg) scale(1) skew(1deg) translate(-11px); background:rgba(25, 10, 10, 0);
 -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(-11px); background:rgba(25, 10, 10, 0);
 -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(-11px); background:rgba(25, 10, 10, 0);
 -o-transform: rotate(0deg) scale(1) skew(1deg) translate(-11px); background:rgba(25, 10, 10, 0);
 -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(-11px); background:rgba(25, 10, 10, 0);
}
.col-lg-4:hover {
  transform: rotate(0deg) scale(0.5) skew(1deg) translate(50px); background:rgba(25, 10, 10, 0);
 -webkit-transform: rotate(0deg) scale(0.5) skew(1deg) translate(50px); background:rgba(25, 10, 10, 0);
 -moz-transform: rotate(0deg) scale(0.5) skew(1deg) translate(50px); background:rgba(25, 10, 10, 0);
 -o-transform: rotate(0deg) scale(0.5) skew(1deg) translate(50px); background:rgba(25, 10, 10, 0);
 -ms-transform: rotate(0deg) scale(0.5) skew(1deg) translate(50px); background:rgba(25, 10, 10, 0);
}
#copyright{
	overflow:hidden;
	padding:5em 0em;
	border-top:1px solid rgba(0,0,0,0.08);
	}
#copyright p
	{text-align:center;
	font-size 1em;
	color:rgba(255,255,255,0.03);
	}
#copyright a
	{
		text-decoration:none;
		color:rgba(255,255,255,0.6);
	}
	#Logo{
	background-image:transparency(0,0,0,0.3);
	}
	header{
		margin:auto !important;
	}

