.panel {
 background-image: -ms-linear-gradient(top left, #455470 12%,#3d7068 36%,#071f45 66%);
 background-image: -moz-linear-gradient(top left, #455470 12%,#3d7068 36%,#071f45 66%);
 background-image: -o-linear-gradient(top left, #455470 12%,#3d7068 36%,#071f45 66%);
 background-image: -webkit-linear-gradient(top left, #455470 12%,#3d7068 36%,#071f45 66%);
 background-image: linear-gradient(top left, #455470 12%,#3d7068 36%,#071f45 66%); 

}
.container { 
 background-image: -ms-linear-gradient(top right, #000000 0%,#07142A 48%);
 background-image: -moz-linear-gradient(top right, #000000 0%,#07142A 48%);
 background-image: -o-linear-gradient(top right, #000000 0%,#07142A 48%);
 background-image: -webkit-linear-gradient(top right, #000000 0%,#07142A 48%);
 background-image: linear-gradient(top right, #000000 0%,#07142A 48%); 

 
  border: 5px groove #0e1c0e; 
  border-radius:8% 5% 5% 5%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:rgba(255,255,255,1.00);
}
.text{
	width:50% !important;
}